.tableClass{
    width:60%;
    border:solid;
    align-content:center;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: gray;
    margin-top: 25%;
}

.tableEditStyle{
    margin-left:auto;
    margin-right:auto;
    border-collapse:separate;
    margin-top:25%;
}

table tr td{
    border: 1px solid black;
}

input{

}
